<h1>Home</h1>
<%= notice %>
<table>
  <tr>
    <th>Post</th>
  </tr>
<% @posts.each do |post| %>
  <tr>
    <td> <%= post.text %></td>
    <% if post.image.url.present? %>
    <td> <%= image_tag (post.image.url) %></td>
    <% end %>
  </tr>
<% end %>
</table>
<%= link_to '投稿する', new_post_path %>